[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
sklearn = "*"
matplotlib = "*"
carputils = {editable = true, git = "https://git.opencarp.org/openCARP/carputils.git"}
wfdb = "==3.4.0"
tqdm = "*"

[dev-packages]
pytest = "*"
sphinx = "*"
ipython = "*"
tqdm = "*"

[requires]
python_version = "3.8"
